<html>
  <head>
    {% if title %}
    <title>Track a parcel -- {{ title }}</title>
    {% else %}
    <title>Track a parcel</title>
    {% endif %}

    <script src="/static/tether.min.js"></script>
    <script src="/static/jquery/jquery-latest.js"></script>
    <script src="/static/bootstrap-4.0.0-alpha.5-dist/js/bootstrap.js"></script>
    <link href="/static/bootstrap-4.0.0-alpha.5-dist/css/bootstrap.css" rel="stylesheet" media="screen">

  </head>
  <body>
    <div>Track a parcel: <a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>