{% macro event_display(event) -%}
  {{ event.date | datetimeformat }} : {{ event.event_id | event_format }}
  {% if event.location %} at {{ event.location }}{%endif%}
{%- endmacro %}

{% macro event_display_table(event) -%}
  <tr>
    <td> {{ event.date | datetimeformat }} </td>
    <td> {{ event.event_id | event_format }} </td>
    <td> {% if event.location %} {{ event.location | city_format }} {%endif%} </td>
  </tr>
{%- endmacro %}



{% if parcel.events %}
  {% for event in parcel.events|sort(attribute='date', reverse=True)  %}
    {{ event_display_table(event) }}
  {% endfor %}

{% else %}

<div>Aucun événements pour ce colis.</div>

{% endif %}