{% macro event_display(event) -%}
  {{ event.date | datetimeformat }} : {{ event.event_id | event_format }}
  {% if event.location %} at {{ event.location }}{%endif%}
{%- endmacro %}

<div class="dropdown tap-events">
  <button class="btn btn-default dropdown-toggle" type="button" id="events-{{ parcel.tracking_number }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ event_display(parcel.events[-1]) }}
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="events-{{ parcel.tracking_number }}">
    {% for event in parcel.events|sort(attribute='date', reverse=True)  %}
      <li> {{ event_display(event) }} </li>
    {% endfor %}
  </ul>
</div>